extends _base

block vars
	- pagename = "Performance Appraisal"

block content
	header
		.row.collapse.align-middle
			.column
				h1 Performance Appraisal
				nav(aria-label="You are here:" role="navigation")
					ul.breadcrumbs
						li: a(href="./dashboard.html") Home
						//- li: a(href="./job-description.html") Employees
						li
							span.show-for-sr Current:
							| Performance Appraisal

			.column.shrink
				a.button.secondary.clear(href="./performance-appraisal--status-report.html")
					img(src="./images/icon-report.svg")
					| PA Status Report
				| |
				a.button.secondary.clear(href="./performance-appraisal--create-new.html")
					img(src="./images/icon-form.svg")
					| Create New PA
				| |
				a.button.secondary.clear(href="#" onClick="window.history.back()")
					img(src="./images/icon-back.svg")
					| Back

	section.filters
		form(action="./performance-appraisal--filtered.html")
			fieldset.fieldset
				legend Filters
				.row.align-middle
					.column.small-7
						.input-group
							input.input-group-field(type="text" placeholder="Search Employee by Name, Department, Phone, or E-mail")
							.input-group-button
								button.button.hollow.secondary(type="submit")
									img(src="./images/icon-search.svg", alt="Search")
	section.page-content
		table
			thead
				tr
					th Photo
					th Name
					th Location
					th Job Title
					th Department
					th.text-right Hire Date
			tbody
				- var offices = ['HQ', 'Office', 'Plant']
				for i in new Array(21)
					tr
						td(style="padding: 3px;"): img(src=faker.image.avatar(), width="34")
						td: a(href="./performance-appraisal--selected-employee.html")= faker.name.findName()
						td= faker.address.city() + ' ' + offices[Math.floor(Math.random() * offices.length)]
						td= faker.name.jobTitle()
						td= faker.name.jobArea()
						td.text-right= faker.date.past().toLocaleDateString("en-US")